@import "../../styles/utils/utils";

.Room {
  display: flex;
  border-radius: 6px;
  padding: 30px 20px;
  box-shadow: 10px 5px 5px rgb(216, 121, 216);
  box-sizing: border-box;
  color: #000;

  .Title {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .Icon {
    margin-left: auto;
    font-size: 6rem;
    color: rgb(168, 80, 168);

    @include tablet-view {
      font-size: 5rem;
    }

    @include mobile-view {
      font-size: 4rem;
    }
  }
}